body {
    /* color de fondo - tipo y color de letra*/

    background-color: black;
    font-family: Calibri;
    color: white;

}

/*--------------------------------------------------------------------------------------------------------------*/
/* PAGINA PRINCIPAL*/

/* Encabezado: solo contiene el logo*/

.contenedor .Logo {
    /* contendor de la imagen logo*/

    display: flex;

    flex-direction: row;
    /*El valor row apila los elementos flexibles horizontalmente (de izquierda a derecha):*/

    justify-content: center;
    /* alinea los elementos flexibles en el centro del contenedor*/

    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    padding: 5px;
}

/**/

/* MENU*/

/* estilo menu*/
.contenedor .menu {

    font-weight: bold;
    /* negrita*/
    font-size: x-large;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 8px 8px 10px black;
}

/*menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000CC;
    border-radius: 12px;
    font-size: large;

}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;

    font-weight: bold;
    /* negrita*/

    font-size: x-large;

    text-shadow: 8px 8px 10px black;
    /* TEXTO SOMBREADO */
    /* offset-x | offset-y | blur-radius | color */
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**/
/*ARTICULOS*/

/* ARTICULO 1 : VIDEO*/

#video {
    /* CENTRAR ELEMENTOS*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ARTICULO EN 3 COLUMNAS*/


/**/

/* Redes sociales PARA TODAS LAS PAGINAS!! */
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    height: 100px;
    color: black;
    padding: auto;
    margin-top: 100px;
    /* verificar al final del proyecto*/
}


.redes-sociales #logos-redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.redes-sociales #logos-redes-sociales .img-descarga {
    width: 50px;
}


/*-------------------------------------------------------------------------------------------------------------------
/* PAGINA DESCARGA*/


/* Encabezado DESCARGA*/

.titulos {
    text-align: center;
    font-size: 60px;
}

.contenedor-descarga img {
    width: 150px;
    padding-left: 80px;

}


/* ICONO HOME*/



/*---------------------------------------------------------------------------------------------------------*/

/* Pagina de CONTACTO*/

/* ENCABEZADO*/
.contacto {
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: black;

}

.contenedor-contacto {
    position: relative;

}

.img-contacto {
    border-radius: 100%;
    box-shadow: 20px 20px 30px white;
    /*sombra de la imagen*/
}

.tit-contacto {
    position: absolute;
    bottom: 200px;
    left: 350px;
    font-family: Calibri;
    font-size: 60px;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/**/
/* Pagina de CONTACTO*/
/* FORMULARIO*/

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block;*/
    border: 4px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    /* boton ENVIAR mas pequeño*/
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
    /* boton ENVIAR centrado*/
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
}

input[type=submit]:hover {

    background-color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 4px solid blue;
    border-radius: 4px;
    /*    background-color: #f8f8f8;*/
    font-size: 16px;
    /*   resize: none;*/
}


.contenedor-formulario {

    width: 500px;
    margin-left: 430px;
    /*CENTRADO*/
    margin-top: 50px;
    /*CENTRADO*/

}

.formulario {
    border: 4px solid #00CCFF;
    border-radius: 10px;
    padding: 10px;
}



/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* clase HOME: vuelve a la pagina de inicio en todas las paginas del menu*/
.home {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid blue;
    border-radius: 8px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.home img {
    width: 80px;
    border-radius: 50px;
}

.home a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home span {
    color: white;
    font-size: x-large;
    margin-left: 20px;
    margin-right: 30px;
}