body {
    /* color de fondo - tipo y color de letra*/

    background-color: black;
    font-family: Calibri;
    color: white;

}

/*--------------------------------------------------------------------------------------------------------------*/

/* Encabezado: solo contiene el logo*/

.contenedor .Logo {
    /* contendor de la imagen logo*/

    display: flex;

    flex-direction: row;
    /*El valor row apila los elementos flexibles horizontalmente (de izquierda a derecha):*/

    justify-content: center;
    /* alinea los elementos flexibles en el centro del contenedor*/

    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    padding: 5px;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* MENU*/

/* estilo menu*/
.contenedor .menu {

    font-weight: bold;
    /* negrita*/
    font-size: x-large;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 8px 8px 10px black;
}

.contenedor .menu-contacto {}

/**/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000CC;
    border-radius: 12px;
    font-size: large;

}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;

    font-weight: bold;
    /* negrita*/

    font-size: x-large;

    text-shadow: 8px 8px 10px black;
    /* TEXTO SOMBREADO */
    /* offset-x | offset-y | blur-radius | color */
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*---------------------------------------------------------------------------------------------------------------*/

/* ARTICULO 1 : VIDEO*/

#video {
    /* CENTRAR ELEMENTOS*/
    display: flex;
    justify-content: center;
    align-items: center;
}









/*-------------------------------------------------------------------------------------------------------------------
/* pagina de DESCARGA*/

.titulos {
    text-align: center;
    font-size: 80px;
}

.contenedor-descarga img {
    width: 250px;
    padding-left: 80px;

}

/*---------------------------------------------------------------------------------------------------------*/

/* Redes sociales _ PAGINA PRINCIPAL*/

.contenedor .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-image: radial-gradient(circle, white, white, blue);
    border: 6px outset #0033FF;
    border-radius: 12px;
    height: 100px;
    color: black;
    padding: auto;
    margin-top: 200px;
    /* verificar al final del proyecto*/
}


.redes-sociales #logos-redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.redes-sociales #logos-redes-sociales .img-descarga {
    width: 50px;
}

/*-------------------------------------------------------------------------------------------------*/

/* Pagina de CONTACTO*/
.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: black;

}

.contenedor-contacto {
    position: relative;

}

.img-contacto {
    border-radius: 100%;
    box-shadow: 20px 20px 30px white;
    /*sombra de la imagen*/
}

.tit-contacto {
    position: absolute;
    bottom: 200px;
    left: 350px;
    font-family: Calibri;
    font-size: 60px;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

/* FORMULARIO*/

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none; 
}

.contacto .formulario {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 300px;/* ancho del formulario*/
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;


}